/* Button Custom */
.btn-custom {
  width: 146px;
  height: 59px;
  border: none;
  border-radius: 14px;
  font-size: 25px;
}
.btn-custom:focus {
  outline-style: none;
}

.container{
  width: 1200px;
  height: 800px;
  background-color: #E8E8E8;
}

.txt-title{
  font-size: 29px;
}
.txt-content{
  font-size: 24px;
}
.txt-content-size36{
  font-size: 36px;
}
.txt-content-size40{
  font-size: 42px;
}
.txt-content-size85{
  font-size: 85px;
}



/* Margin and Padding */
.vb-pd-0 {
  padding: 0px !important;
}

.vb-pd-10 {
  padding: 10px !important;
}

.vb-pd-20 {
  padding: 20px !important;
}

.vb-pd-30 {
  padding: 30px !important;
}

.vb-pd-40 {
  padding: 40px !important;
}

.vb-pd-50 {
  padding: 50px !important;
}

.vb-pt-0 {
  padding-top: 0px !important;
}

.vb-pt-10 {
  padding-top: 10px !important;
}

.vb-pt-20 {
  padding-top: 20px !important;
}

.vb-pt-30 {
  padding-top: 30px !important;
}

.vb-pt-40 {
  padding-top: 40px !important;
}

.vb-pt-50 {
  padding-top: 50px !important;
}

.vb-pr-0 {
  padding-right: 0px !important;
}

.vb-pr-10 {
  padding-right: 10px !important;
}

.vb-pr-20 {
  padding-right: 20px !important;
}

.vb-pr-30 {
  padding-right: 30px !important;
}

.vb-pr-40 {
  padding-right: 40px !important;
}

.vb-pr-50 {
  padding-right: 50px !important;
}

.vb-pb-0 {
  padding-bottom: 0px !important;
}

.vb-pb-10 {
  padding-bottom: 10px !important;
}

.vb-pb-20 {
  padding-bottom: 20px !important;
}

.vb-pb-30 {
  padding-bottom: 30px !important;
}

.vb-pb-40 {
  padding-bottom: 40px !important;
}

.vb-pb-50 {
  padding-bottom: 50px !important;
}

.vb-pb-0 {
  padding-bottom: 0px !important;
}

.vb-pl-10 {
  padding-left: 10px !important;
}

.vb-pl-20 {
  padding-left: 20px !important;
}

.vb-pl-30 {
  padding-left: 30px !important;
}

.vb-pl-40 {
  padding-left: 40px !important;
}

.vb-pl-50 {
  padding-left: 50px !important;
}

.vb-mg-0 {
  margin: 0px !important;
}

.vb-mg-10 {
  margin: 10px !important;
}

.vb-mg-20 {
  margin: 20px !important;
}

.vb-mg-30 {
  margin: 30px !important;
}

.vb-mg-40 {
  margin: 40px !important;
}

.vb-mg-50 {
  margin: 50px !important;
}

.vb-mt-10 {
  margin-top: 10px !important;
}

.vb-mt-20 {
  margin-top: 20px !important;
}

.vb-mt-30 {
  margin-top: 30px !important;
}

.vb-mt-40 {
  margin-top: 40px !important;
}

.vb-mt-50 {
  margin-top: 50px !important;
}

.vb-mr-10 {
  margin-right: 10px !important;
}

.vb-mr-20 {
  margin-right: 20px !important;
}

.vb-mr-30 {
  margin-right: 30px !important;
}

.vb-mr-40 {
  margin-right: 40px !important;
}

.vb-mr-50 {
  margin-right: 50px !important;
}

.vb-mb-10 {
  margin-bottom: 10px !important;
}

.vb-mb-20 {
  margin-bottom: 20px !important;
}

.vb-mb-30 {
  margin-bottom: 30px !important;
}

.vb-mb-40 {
  margin-bottom: 40px !important;
}

.vb-mb-50 {
  margin-bottom: 50px !important;
}

.vb-ml-10 {
  margin-left: 10px !important;
}

.vb-ml-20 {
  margin-left: 20px !important;
}

.vb-ml-30 {
  margin-left: 30px !important;
}

.vb-ml-40 {
  margin-left: 40px !important;
}

.vb-ml-50 {
  margin-left: 50px !important;
}
